<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>Micro-Service Squeleton</title>
    </head>
    <body>
        <h1>Micro-Service Squeleton</h1>
        <p>Acces the API with the endpoint <a href="/api">/api</a></p>
        <p>The provided API is a simple echo of what you provide in the URI</p>
        <p>Exemple : <a href="/api/hello">/api/hello</a> will return the word "hello"</p>
    </body>
</html>
