<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>Micro-Service Squeleton</title>
    </head>
    <body>
        <h1>Micro-Service Squeleton</h1>
        <h2>Hello endpoint</h2>
        <p><a href="/api/hello">/api/hello</a> will return "Hello !"</p>
        <h2>Echo endpoint</h2>
        <p><a href="/api/echo">/api/echo</a> will return an echo of what URI you provide</p>
        <p>Example <a href="/api/echo/123">/api/echo/123</a> will return "123"</p>
    </body>
</html>
